* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #001220;
}

.container {
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.radio {
    display: flex;
    justify-content: space-between;
}

input[type="email"],input[type="password"]{
    padding: 0.8rem;
    border-radius: 5px;
    color: #509ecf;
    border: 2px solid #509ecf;
    background-color: transparent;
}

label,span a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #5e6d78;
    text-decoration: none;
    font-style: italic;
}
input[type="submit"],button, button a{
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    color: #051b14;
    background-color: #3ee6b0;
    font-weight: bold;
    text-decoration: none;

}
.outlet{
    padding: 1rem;
    color: #ffff;
    background-color: #051b14;
    border:1px solid  green;
    border-radius: 5px;
    display: none;
}

@media only screen and (max-width: 600px) {
    body{
        align-items: flex-start;
        padding: 1rem;
    }
    .container{
        width: 100%;
    }
}